*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 25%;
    height: 50%;
    background-color: rgb(85, 74, 74);
    border-radius: 30vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 30px 10px;
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-1vmax);
}
.hours{
    font-size: 8vmax;
    background: -webkit-linear-gradient(90deg, blue, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.dot{
    font-size: 4vmax;
}

.minuts{
    font-size: 4vmax;
    transform: translateX(1vmax);
    margin-top: -4vmax;
    background: -webkit-linear-gradient(90deg, pink, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.ampm{
    color: orange;
    font-size: 2vmax;
}
.second{
    font-size: 2vmax;
}